.btn {
  width: 135px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(15, 15, 15);
  transition: .3s;
  outline: none;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Jost';
  text-transform: uppercase;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(15, 15, 15, 0.8)
  }
}