.menu {
    &Link {
        display: flex;
        align-items: center;
    }
    &Icon {
        margin-left: 10px;
    }
    &List {
        padding: 15px 0 0 30px;
        list-style: none;
    }

    &Item {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-top: 15px;
        &.signOut {
            margin-top: 60px;
        }
    }
}

.calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6);
    grid-gap: 4px;
    padding: 0 4px;
}
