@import "../../var";

.range {
  margin: 15px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid $white50;
  &Title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    display: block;
    margin-bottom: 5px;
  }

  &Date {
    &Wrapper {
      display: flex;
      align-items: center;
    }
    &Item + &Item {
      margin-left: 25px;
    }

    &Item {
      display: flex;
      align-items: flex-end;
    }

    &Text {
      margin-right: 10px;
      font-size: 18px;
      font-weight: 700;
      color: $white;
    }
  }

  &Value {
    color: $white;
    font-size: 16px;
  }
}
