$white: #fff;
$white10: rgba(255, 255, 255, 0.1);
$white20: rgba(255, 255, 255, 0.2);
$white50: rgba(255, 255, 255, 0.5);
$white80: rgba(255, 255, 255, 0.8);
$greenMark: rgb(0, 255, 115);
$black: rgb(15, 15, 15);
$black80: rgba(15, 15, 15, 0.8);
$black50: rgba(15, 15, 15, 0.5);
$black20: rgba(15, 15, 15, 0.2);
$blackHover: rgba(15, 15, 15, 0.8);
